
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 124px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 124px;
}
.board{
 
  
  border: #fff solid;
  display: flex;
}
.game{
   background-color: pink;
  display: flex;
  gap: 150px;
  justify-content: space-between;
  padding: 50px;
}